<nav class="m-navigation m-navigation-site m-navigation-fixed">
  <div class="container-fluid">
    <div class="navigation-group">
      <a class="navigation-logo" href="/"><img alt="/images/navbarTop-home.svg" src="/images/navbarTop-home.svg"></a>
      <span id="j-navigation-trigger" class="navigation-trigger"></span>
      <ul class="navigation-list navigation-list-right">
        <li {{ if eq .Title "Features" }}class="active"{{ end }}><a class="navigation__link" href="/features/">Features</a></li>
        <li><a class="navigation__link" href="/documentation/user-guide/{{ .Site.Params.versions.stable }}/introduction/overview/">Documentation</a></li>
      </ul>
    </div>
  </div>
</nav>
