<script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
<!-- Dropped generation of mobile menu - CSP issue - cf init.js
<script type="text/javascript" src="/js/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.dlmenu.js"></script>
-->
<script type="text/javascript" src="/js/bootstrap-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/init.js"></script>
<script type="text/javascript" src="/js/prism.js" data-default-language="markup"></script>
<script type="text/javascript" src="/js/app.js"></script>
